@import url('https://fonts.googleapis.com/css2?family=Sen:wght@100;200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1.5;
  font-family: 'Sen', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.hidden-scroll-bar::-webkit-scrollbar {
  display: none;
}
body, html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  overscroll-behavior: none; /* Disable overscr/oll behavior */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

